@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// ==== ШРИФТЫ ===========================================================================================
@import "fonts";
// ==== // ШРИФТЫ ===========================================================================================

// ==== ПЕРЕМЕННЫЕ ===========================================================================================
@import "vars"; 
// ==== // ПЕРЕМЕННЫЕ ===========================================================================================


// ==== НОРМАЛАЙЗ ===========================================================================================
@import "normalize";
// ==== // НОРМАЛАЙЗ ===========================================================================================

//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ICOMOON>===============================================================================================
@import "../icomoon/style";
//</ICOMOON>===============================================================================================

//<FANCYBOX>===============================================================================================
//@import "plagins/fancybox.scss";
//<FANCYBOX>===============================================================================================

// ==== ПЛАГИНЫ ===========================================================================================
@import "plagins/swiper-bundle";
//@import "plagins/drift-basic";
// ==== // ПЛАГИНЫ ===========================================================================================

// ==== НАЧАЛЬНЫЕ САТИЛИ ФОРМЫ ===========================================================================================
@import "forms";
// ==== НАЧАЛЬНЫЕ САТИЛИ ФОРМЫ ===========================================================================================

// ==== BORDER ===========================================================================================
@import "../common/burger/burger";
// ==== BORDER ===========================================================================================

// ==== POPUP ===========================================================================================
//@import "common/popup/popup";
// ==== // POPUP ===========================================================================================



* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
aside,
nav,
footer,
header,
section {
	display: block;
}
html {
	font-size: 10px;
}
html,
body {
	height: 100%;
	min-width: $minwidth;
	margin: 0 auto;
}
body {
	line-height: 1;
	font-family: $mainFontFamily;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $textColor;
	font-size: 1.8rem;
	background-color:  #F5F5F8;
	opacity: 0;
	transition: opacity .8s ease;


	@media (max-width: $md3+px) {
		font-size: 1.6rem;
	}
	@media (max-width: $md4+px) {
		font-size: 1.4rem;
	}

	&.lock {
		overflow: hidden;
	}

	&.is-load {
		opacity: 1;
	}

}

input,
button,
textarea {
	font-family: $mainFontFamily;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
	margin-top: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}



.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	&.loaded {
	}
}

.page {
	flex: 1 1 auto;
}


.container {
	max-width: 1284px;
	margin: 0 auto;
	padding: 0 22px;

	@media (max-width: $md4+px) {
		padding: 0 17px;
	}
}

.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

.logo {
	max-width: 190px;
	width: 100%;
	position: relative;

	&__colour {
		position: relative;
		z-index: 2;
	}

	&__white {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0;
	}

	& img {
		width: 100%;
	}
}

.plus {
	display: inline-block;
	position: relative;
	font-size: 10px;
	height: 1.4em;
	min-width: 1.4em;

	&:before {
		position: absolute;
		content: '';
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		height: 100%;
		width: 2px;
		border-radius: 25%;
		background-color: $turquoise;
		transition: all .2s ease;
	}

	&:after {
		position: absolute;
		content: '';
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		height: 2px;
		width: 100%;
		border-radius: 25%;
		background-color: $turquoise;
	}
}

.header-bottom-btn {
	height: 90px;
	width: 90px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: $blue;
	border-radius: 50%;
	cursor: pointer;

	@media (min-width: 992px) {
		&:hover {
			& > span {
				box-shadow: 0px 12px 12px #8386e0;
			}
		}
	}
	
	& > span {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 60px;
		height: 60px;
		background: #6D71F9;
		box-shadow: 0px 12px 12px #5D60D4;
		border-radius: 50%;
		transition: all .2s ease;
		& img {
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
			height: auto;
			width: auto;
			position: static;
		}
	}
}

.style-pagination {
	& .swiper-pagination {
		position: static;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		

		& .swiper-pagination-bullet  {
			margin: 0 6px;
			height: 6px;
			min-width: 6px;
			width: 6px;
			background: #acacac;

			&.swiper-pagination-bullet-active {
				background: linear-gradient(104.98deg, #6266E0 0%, #7579FF 100%);
				box-shadow: 0px 4px 4px rgba(109, 113, 249, 0.3);
				height: 12px;
				min-width: 12px;
				width: 12px;
			}
		}
	}
}


// === title ========================================================================
.title-1 {
	font-weight: 500;
	font-size: 70px;
	line-height: 1.143em;
	color: #FFFFFF;

	@media (max-width: $md2+px) {
		font-size: 40px;
	}
	@media (max-width: $md3+px) {
		font-size: 34px;
	}
	@media (max-width: $md4+px) {
		font-size: 26px;
	}
}
.title-2 {
	font-weight: 500;
	font-size: 50px;
	line-height: 1.18em;
	color: $textColor;

	@media (max-width: $md2+px) {
		font-size: 40px;
	}
	@media (max-width: $md3+px) {
		font-size: 34px;
	}
	@media (max-width: $md4+px) {
		font-size: 26px;
	}
}

.title-3 {

}

.title-4 {

}

.title-5 {
	font-weight: 500;
	font-size: 24px;
	line-height: 1.416em;
	color: $textColor;
}
.title-6 {
	font-weight: 500;
	font-size: 18px;
	line-height: 1.555em;
	color: $textColor;

}

.suptitle {

}
.subtitle {

}

.text {

}
// === and title ========================================================================



// === btn ========================================================================
.btn {
	&.width-100 {
		width: 100%;
	}

	&.btn-outline-primary {
		font-weight: normal;
		font-size: 18px;
		line-height: 1.1666em;
		color: $textColor;
		min-width: 116px;
		min-height: 40px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 0 10px;
		border: 2px solid $blue;
		border-radius: 20px;
		transition:  all .2s ease;

		@media (max-width: $md3+px) {
			height: 36px;
		}

		@media (max-width: $md4+px) {
			font-size: 14px;
		}

		@media (min-width: 992px) {
			&:hover {
				background-color: $blue;
				color: #fff;
				& .plus {
					&:before, &:after {
						background-color: #fff;
					
					}
				}
			}
		}

		& .plus {
			&:before, &:after {
				background-color: $blue;
				transition: all .2s ease;
			}
		}
	}

	&.btn-green {
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 1.1em;
		text-transform: uppercase;
		color: $blue;
		min-width: 12.9em;
		height: 60px;
		background: linear-gradient(180deg, #5CDEDA 0%, #62c0ff 100%);
		border-radius: 30px !important;
		padding: 4px;
		transition: all .2s ease;
		overflow: hidden;
		align-self: normal;
		position: relative;
		@media (max-width: $md3+px) {
			height: 50px;
		}

		@media (max-width: $md4+px) {
			font-size: 14px;
		}

		& > span {
			display: flex;
			justify-content: center;
			align-items: center;
			background: linear-gradient(180deg, #5CDEDA 0%, #2FFF6A 100%);
			border-radius: 30px !important;
			height: 100%;
			width: 100%;
			transition: all .2s ease;
			padding: 10px 15px;

			&:before {
				position: absolute;
				content: '';
				top: 0;
				left: -60px;
				width: 50px;
				height: 100%;
				transition: all .5s ease;
				background-color: rgba(#fff, 0.4);
				transform: skew(15deg);
			}
		}

		@media (min-width: 992px) {
			&:hover {
				& > span {
					&:before {
						left: 120%;
					}
				}
			}
		}
	}
	
}

button.btn-default {
	
}

// === and btn ========================================================================

.input {

}

.textarea {

}

.link {

}


// === TEXT CONTETN BLOCK ========================================================================
.text-content {
	font-weight: 300;
	font-size: 18px;
	line-height: 1.555em;
	color: $textColor;
	letter-spacing: -0.006em;

	@media (max-width: $md3+px) {
		font-size: 16px;
	}
	@media (max-width: $md4+px) {
		font-size: 14px;
	}

	& h1 {
		font-weight: 500;
		font-size: 50px;
		line-height: 1.18em;
		color: $textColor;
		margin-bottom: 0.8em;
		margin-top: 0;
	
		@media (max-width: $md2+px) {
			font-size: 40px;
		}
		@media (max-width: $md3+px) {
			font-size: 34px;
		}
		@media (max-width: $md4+px) {
			font-size: 26px;
		}
	}

	& h2 {
		font-weight: 500;
		font-size: 46px;
		line-height: 1.22em;
		color: $textColor;
		margin-bottom: 0.87em;

		@media (max-width: $md2+px) {
			font-size: 36px;
		}
		@media (max-width: $md3+px) {
			font-size: 30px;
		}
		@media (max-width: $md4+px) {
			font-size: 24px;
		}
	}

	& h3 {
		font-weight: 500;
		font-size: 40px;
		line-height: 1.25em;
		color: $textColor;
		margin-bottom: 1em;

		@media (max-width: $md2+px) {
			font-size: 32px;
		}
		@media (max-width: $md3+px) {
			font-size: 26px;
		}
		@media (max-width: $md4+px) {
			font-size: 22px;
		}

	}

	& h4 {
		font-weight: 500;
		font-size: 36px;
		line-height: 1.25em;
		color: $textColor;
		margin-bottom: 1.211em;

		@media (max-width: $md2+px) {
			font-size: 28px;
		}
		@media (max-width: $md3+px) {
			font-size: 24px;
		}
		@media (max-width: $md4+px) {
			font-size: 20px;
		}
	}

	& h5 {
		font-weight: 500;
		font-size: 32px;
		line-height: 1.25em;
		color: $textColor;
		margin-bottom: 1.4em;

		@media (max-width: $md2+px) {
			font-size: 24px;
		}
		@media (max-width: $md3+px) {
			font-size: 22px;
		}
		@media (max-width: $md4+px) {
			font-size: 19px;
		}
	}

	& h6 {
		font-weight: 500;
		font-size: 24px;
		line-height: 1.416em;
		color: $textColor;
		margin-bottom: 0.9333em;

		@media (max-width: $md2+px) {
			font-size: 22px;
		}
		@media (max-width: $md3+px) {
			font-size: 20px;
		}
		@media (max-width: $md4+px) {
			font-size: 18px;
		}
	}

	& p {
		font-weight: 300;
		font-size: 18px;
		line-height: 1.555em;
		color: $textColor;
		letter-spacing: -0.006em;
		margin-bottom: 0.7em;

		& > a {
			color: $blue;
			transition: all .2s ease;

			@media (min-width: 992px) {
				&:hover {
					color: $turquoise;
				}
			}

		}

		@media (max-width: $md3+px) {
			font-size: 16px;
		}
		@media (max-width: $md4+px) {
			font-size: 14px;
		}
	}

	& ul {
		&:not(.social) {
			& > li {
				padding-left: 72px;
				position: relative;
				margin-bottom: 11px;

				@media (max-width: $md2+px) {
					padding-left: 30px;
				}
	
				&:before {
					position: absolute;
					content: '';
					top: 7px;
					left: 40px;
					background: linear-gradient(104.98deg, #6266E0 0%, #7579FF 100%);
					box-shadow: 0px 4px 4px rgba(109, 113, 249, 0.3);
					height: 12px;
					width: 12px;
					border-radius: 50%;

					@media (max-width: $md2+px) {
						left: 0;
					}
				}
			}
		}

	}

	& ol {
		list-style: none;
		padding-left: 40px;

		@media (max-width: $md2+px) {
			padding-left: 0;
		}

		& > li {
			margin-bottom: 8px;
			display: flex;
			& > span {
				&:first-child {
					flex: 0 0 auto;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					color: $blue;
					height: 30px;
					width: 30px;
					border-radius: 50%;
					border: 2px solid $blue;
					margin-right: 8px;
					font-size: 14px;
					font-weight: 500;
				}
			}
		}
	}

	& figure {
		display: block;
		overflow: hidden;
		border-radius: 5px;
		margin-bottom: 50px;

		@media (max-width: $md2+px) {
			margin-bottom: 30px;
		}

		& img {
			width: 100%;
		}
	}

}
// === and TEXT CONTETN BLOCK ========================================================================


// === SOCIAL ========================================================================
.social {
	display: flex;
	align-items: center;
	justify-content: center;

	&__item {
		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	&__link {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient(104.98deg, #6266E0 0%, #7579FF 100%);
		box-shadow: -12px -12px 24px #7D82FF, 12px 12px 24px #5D60D4;
		height: 50px;
		min-width: 50px;
		border-radius: 50%;
		transition: all .6s ease;

		@media (min-width: 992px) {
			&:hover {
				box-shadow: -12px -12px 34px #ffffff, 12px 12px 24px #ffffff;
			}
		}

		& > span {
			display: flex;
			justify-content: center;
			align-items: center;
			min-width: 24px;
			height: 24px;
			& img {
				max-width: 100%;
				max-height: 100%;
				object-fit: contain;
				height: auto;
				width: auto;
				position: static;
			}
		}
	}
}

// === and SOCIAL ========================================================================


// ==== BLOCKS =====================================================
@import "../common/header/#header";
@import "../common/footer/#footer";
@import "../common/popular-brand/popular-brand";
@import "../common/rating/rating";
@import "../common/pagination/pagging";
@import "../common/hero/hero";
@import "../common/info-block/info-block";
@import "../common/breadcrumb/breadcrumb";
@import "../common/tabs-block/tabs-block";
@import "../common/shares-block/shares-block";
@import "../common/popup/popup";
@import "../common/cryptocurrency/cryptocurrency";
// ==== BLOCKS =====================================================


// ==== PAGES =====================================================

	// ==== HOME =====================================================
	@import "pages/#home";
	// ==== AND HOME =====================================================
	
	// ==== CATEGORY-PAGE =====================================================
	@import "pages/#category-page";
	// ==== AND CATEGORY-PAGE =====================================================
	
	// ==== STORE-CARD-REVIEWS =====================================================
	@import "pages/#store-card";
	// ==== AND STORE-CARD-REVIEWS =====================================================
	
	// ==== CABINET =====================================================
	@import "pages/#cabinet";
	// ==== AND CABINET =====================================================
	
	// ==== CABINET 480 =====================================================
	@import "pages/#cabinet-480";
	// ==== AND CABINET 480 =====================================================
	
	// ==== TEXT PAGE =====================================================
	@import "pages/#text-page";
	// ==== AND TEXT PAGE =====================================================
	
	// ==== PAGE 404 =====================================================
	@import "pages/#page-404";
	// ==== AND PAGE 404 =====================================================
	
// ==== AND PAGES =====================================================


