.promo-header {
    position: relative;
    z-index: 10;
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        @media (max-width: $md2+px) {
            display: block;
            z-index: 2;

            
        }

        &:after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 75%;
            background-color: $blue;
            z-index: 1;
        }

        & > .promo-header__img {
            display: none;

            @media (max-width: $md2+px) {
                display: block;
                bottom: 243px;
                right: -314px;
                width: 978px;

                &:before {
                    position: absolute;
                    content: '';
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 150px;
                    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6d71f9+0,000000+100&0.65+0,0+100 */
                    background: -moz-linear-gradient(top,  rgba(109,113,249,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top,  rgba(109,113,249,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom,  rgba(109,113,249,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a66d71f9', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

                }
            }

            @media (max-width: $md3+px) {
                bottom: 402px;
                right: 50%;
                transform: translateX(50%);
                width: 900px;
            }

            @media (max-width: 574px) {
               bottom: auto;
               top: 100px;
               width: 747px;
            }
        }

    }

    &__bg-inner {
        z-index: 2;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 7342px;
        padding-bottom: 100%;
        display: flex;
        flex-direction: column;
        background-color: $blue;
        transform: translateX(-50%);
        border-radius: 50%;
        box-shadow: 0px 24px 24px rgba(109, 113, 249, 0.25);
        overflow: hidden;

        & .container {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 100%;

            @media (max-width: $md2+px) {
                display: none
            }
        }

        @media (max-width: 1920px) {
            width: 4342px;
        }

        @media (max-width: 1267px) {
            width: 3342px;
        }

        @media (max-width: $md2+px) {
            width: 2342px;
        }
        @media (max-width: $md3+px) {
            width: 1342px;
        }
        @media (max-width: $md4+px) {
            width: 642px;
        }
       
    }

    &__bg-bottom {
        width: 100%;
        & svg {
            width: 100%;
            height: auto;
            transform: translateY(-1%);
        }
    }

    &__img {
        position: absolute;
        bottom: -51px;
        right: -346px;
        width: 1225px;
        z-index: 5;
        & img {
            width: 100%;
        }

        @media (max-width: 1199px) {
            bottom: 177px;
            right: -346px;
            width: 1156px;
        }


    }

    &__body {
        padding-top: 100px !important;
        padding-bottom: 80px !important;
        position: relative;
        z-index: 2;


        @media (max-width: $md2+px) {
            padding-top: 85px !important;
        }

        @media (max-width: $md3+px) {
            padding-top: 40px !important;
        }

        @media (max-width: $md4+px) {
            padding-top: 30px !important;
        }
    }

    
    &__title {
        margin-bottom: 20px;
        max-width: 17.2em;
        position: relative;
        @media (max-width: $md3+px) {
            text-align: center;
        }

        @media (max-width: $md4+px) {
            margin-bottom: 15px;
        }
    }
    
    &__subtitle {
        position: relative;
        font-weight: normal;
        font-size: 24px;
        line-height: 1.42em;
        color: #FFFFFF;
        margin-bottom: 76px;

        @media (max-width: $md2+px) {
            margin-bottom: 69px;
        }

        @media (max-width: $md3+px) {
            text-align: center;
            margin-bottom: 240px;
        }

        @media (max-width: $md4+px) {
            font-size: 18px;
            margin-bottom: 190px;
        }

        & > strong {
            color: $turquoise;
            font-weight: 500;
        }
    }

    &__local-icon {
        position: absolute;
        z-index: 5;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
        height: 90px;
        width: 90px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: $blue;
        border-radius: 50%;
        cursor: pointer;

        @media (min-width: 992px) {
            &:hover {
                & > span {
                    box-shadow: 0px 12px 12px #8386e0;
                }
            }
        }
        
        & > span {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 60px;
            height: 60px;
            background: #6D71F9;
            box-shadow: 0px 12px 12px #5D60D4;
            border-radius: 50%;
            transition: all .2s ease;
            & img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
                height: auto;
                width: auto;
                position: static;
            }
        }
    }
}


.promo-header-search {
    margin-bottom: 10px !important;

    @media (max-width: $md4+px) {
        display: block;
        margin-bottom: 40px !important;
    }
    &__input {
        background: rgba(#fff, 0.1);
        box-shadow: -12px 3px 24px #7D82FF, 12px 12px 24px #5D60D4;
        border-radius: 30px !important;
        display: flex;
        align-items: center;
        min-height: 60px;
        outline: none;
        border: 1px solid transparent;
        padding: 10px 30px;
        font-weight: normal;
        font-size: 18px;
        line-height:1.1em;
        color: #FFFFFF;
        transition: all .2s ease;
        margin-right: 20px;

        @media (max-width: $md3+px) {
            min-height: 50px;
            margin-right: 10px;
        }

        @media (max-width: $md4+px) {
            margin-right: 0;
            margin-bottom: 15px !important;
            width: 100% !important;
        }

        &::placeholder {
            font-size: 18px;
            line-height:1.1em;
            color: #FFFFFF;
        }

        &:focus {
            background: rgba(#fff, 0.1);
            border: 1px solid rgba(#fff, 0.4);
            font-size: 18px;
            line-height:1.1em;
            color: #FFFFFF;
        }

        @media (min-width: 992px) {
            &:hover {
                border: 1px solid rgba(#fff, 0.4);
            }
        }
    }

    & button.btn {
        & ._icon {
            display: none;
        }
        @media (max-width: $md2+px) {
            min-width: 166px;
        }

        @media (max-width: $md3+px) {
            font-size: 0;
            min-width: 50px;
            min-height: 50px;

            & ._icon {
                display: inline-flex;
            }

            & > span {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                
                & > span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-width: 18px;
                    height: 18px;
                    & img {
                        max-width: 100%;
                        max-height: 100%;
                        object-fit: contain;
                        height: auto;
                        width: auto;
                        position: static;
                    }
                }
            }
        }

        @media (max-width: $md4+px) {
            & ._icon {
                display: none;
            }
            font-size: 14px;
            width: 100%;
        }
    }
}




.cryptocurrency {

    &__list {
        margin: 0 -10px;

        @media (max-width: $md4+px) {
            display: block;
            margin: 0;
            padding: 15px;
        }
    }

    &__item {
        display: block;
        padding: 30px 10px 0;
        margin-bottom: 20px;

        @media (max-width: $md4+px) {
            padding: 0;
            margin-bottom: 15px;
            margin-left: 10px;
        }

        @media (min-width: 992px) {
            &:hover {
                & .cryptocurrency__item-hover {
                    opacity: 1;
                }

                & .cryptocurrency__item-icon {
                    background-color: $turquoise;
                }
            }
        }
    }

    &__item-inner {
        height: 100%;
        position: relative;
        background: linear-gradient(104.98deg, #6266E0 0%, #7579FF 100%);
        box-shadow: -12px -12px 24px #7D82FF, 12px 12px 24px #5D60D4;
        border-radius: 5px;
        min-height: 120px;
        padding: 46px 15px 20px;
        text-align: center;

        @media (max-width: $md4+px) {
            padding: 7px 10px 7px 30px;
            min-height: 60px;
        }
    }

    &__item-icon {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        background-color: $blue;
        transition: all .2s ease;

        @media (max-width: $md4+px) {
            top: 50%;
            left: -25px;
            transform: translate(0%, -50%);
        }

        & > span {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 52px;
            height: 52px;
            overflow: hidden;
            border-radius: 50%;
            & img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
                height: auto;
                width: auto;
                position: static;
            }
        }
    }

    &__item-hover {
        padding: 4px;
        background: linear-gradient(180deg, #5CDEDA 0%, #62c0ff 100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        border-radius: 5px;
        pointer-events: none;
        opacity: 0;
        transition: all .2s ease;
    }

    &__item-hover-inner {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        background: linear-gradient(180deg, #5CDEDA 0%, #2FFF6A 100%);
        border-radius: 5px;

        & .cryptocurrency__item-title {
            color: $blue;
            margin-bottom: 0;
        }
    }

    &__item-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 1.1666em;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 9px;

        @media (max-width: $md2+px) {
            font-size: 22px;
        }

        @media (max-width: $md3+px) {
            font-size: 20px;
        }

        @media (max-width: $md4+px) {
            font-size: 18px;
            margin-bottom: 5px;
        }

        & > span {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            min-width: 24px;
            height: 24px;
            margin-left: 10px;
            & img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
                height: auto;
                width: auto;
                position: static;
            }
        }

        & > strong {
            font-weight: 500;
            color: $turquoise;
        }
    }

    &__item-cost {
        font-weight: normal;
        font-size: 14px;
        line-height: 1.21em;
        text-transform: uppercase;
        color: #FFFFFF;

        & > span {
            color: $turquoise;
        }
    }
}


.home-map {
    position: relative;
    margin-bottom: 40px;
    transition: all .4s ease;
    z-index: 3;
    &._hide {
        margin-bottom: -700px;
        &:before {
            height: 50%;
        }
    }

    &:before {
        z-index: 50;
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        height: 265px;
        width: 100%;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
        background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    }

    @media (min-width: 320px) {
        margin-top: -6.5%;
    }

    @media (min-width: 480px) {
        margin-top: -5.5%;
    }

    @media (min-width: 768px) {
        margin-top: -4.5%;
    }

    @media (min-width: 1920px) {
        margin-top: -5.5%;
    }


    & #map {
        height: 880px;
    }
}











